/* Estilos para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-menu-container {
  display: flex;
  align-items: center;
  width: 100%;
}

#logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

#nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#nav-menu li {
  display: inline-block;
  margin-left: 20px;
}

#nav-menu li:first-child {
  margin-left: 0;
}

#nav-menu li a {
  text-decoration: none;
  color: #fff;
}

#nav-menu-button {
  display: none;
}

@media (max-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }

  #nav-menu {
    margin-left: auto;
  }

  #nav-menu-button i {
    font-size: 24px;
  }

  .flex {
    flex-direction: column;
  }

  #logo {
    font-size: 18px;
  }
}


/*Aqui secção properieties, no qual estou tendo um pouco de trabalho pra organizar */
/*=========================================================================================*/


 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .container{
  display: flex;
}

.property{
  margin:20px;

}

@media (max-width: 991px) {
   .container{
    display: block;
   }

  .property {
    width: 48%;
  }
  .property img {
    width: 100%; /* Redimensionar as imagens para ocupar 100% da largura do container */
  }
}

@media (max-width: 767px) {
  
  
  .property {
    width: 100%;
  }
}

/*======================================================================================*/
.sobremim {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sobremim .minha-imagem {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid #333;
}


#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  /* Centraliza verticalmente os elementos */
}


#form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 0;
  /* Remove a margem superior padrão do h3 */
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

button.rounded {
  background-color: #2eca6a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

button.rounded:hover {
  background-color: #1a994d;
}

/* Estilos para o rodapé */

.footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.containerfooter{
  display: flex;
  text-align: center;

}

.footer a {
  color: #080101;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  background-color: #f0f0f0;
}
